*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
 
*.class
*.jar
*.log
.env*
/specs/001-refactor-color-system/fetch_figma.ps1
/specs/001-refactor-color-system/figma_data.json
/specs/001-refactor-color-system/figma_data_utf8.json
/specs/002-home-ui/figma_home.json